{% extends "index.html" %}
{% load tc2_tags %}
{% block main %}

<div id="tournamentDetail">
<h3>{{ object.name }}</h3>
<p><b>Date:</b> {{ object.date }}</p>
<p><b>Status:</b> {{ object.status }}</p>
<p><b>Owner:</b> {{ object.owner }}</p>
<p><b>Max number of players:</b> {{ object.max_number_of_players }}</p>
<p><a href="{{ object.statureUrl }}" target="_blank">Statue</a></p>

<ol class="players_classification">
{% for e in errors %}
    <li>
        <span class="error">{{ e }}</span><br>
    </li>
{% endfor %}
</ol>
<br>
{% createActionsButtons object user %}

<h4>Judge:</h4>
<ol class="players_classification">
{% for judge in object.judges.all %}
    <li>{{ judge }}</li>
{% endfor %}
</ol>

<h4>Registered players:</h4>
<table class="paleblue">
    <tr>
        <th>#</th>
        <th>Player</th>
        <th>Recorded</th>
        <th>City</th>
        <th>ITS PIN</th>
        <th>Army</th>
        <th>Sum of points</th>
        <th>Tournament Points</th>
        <th>Additional Points</th>
        <th>Objective Points[Victory Points]</th>
        <th>Fee</th>
        <th>Army Lists</th>
    </tr>
{% for application in object.application %}
    <tr class="{% cycle 'even' 'odd' %} {% if forloop.counter == object.max_number_of_players %}limit{% endif %}">
        <td>{{ forloop.counter }}</td>
        <td>{{ application.player }}</td>
        <td>{{ application.application_date }}</td>
        <td>{{ application.player.city }}</td>
        <td>{% get_its_pin application.player %}</td>
        <td>{{ application.army|default_if_none:"--" }}</td>
        <td>{{ application.points.sum }}</td>
        <td>{{ application.points.tournament_p }}</td>
        <td>{{ application.points.additionalPoints|default_if_none:"--"  }} <a href="{% url "tc2_AddAdditionalPointsToPlayer" %}?p={{ application.player.id }}&t={{ object.id }}">Add</a></td>
        <td>{{ application.points.big_p }}[{{ application.points.small_p }}]</td>
        <td>{% if application.fee %}paid{% else %}unpaid{% endif %}</td>
    {% if application.player.user == request.user or tournament.status == 'completed' or request.user.player in object.judges.all %}
        <td>
        {% if application.army_lists %}
        {% for list in application.army_lists %}
            {% if list.url %}
            [<a href="{{ list.url }}">List {{ forloop.counter }}</a>]
            {% endif %}
        {% endfor %}
        {% endif %}
        </td>
    {% else %}
        <td>Private</td>
    {% endif %}
    </tr>
{% endfor %}
</table>


<h4>Rounds:</h4>
    <ul>
    {% for r in object.rounds %}
        <li class="roundHead">
            Round {{ r.number }}
            <table class="paleblue">
            {% for p in r.pairs %}
                {% if tournament.status == 'ongoing' and forloop.parentloop.first %}
                    <tr class="{% cycle 'even' 'odd' as rowcolors %}">
                        <td>{{ p.player_1 }}</td>
                        <td>
                            {% if object.canAddResultVal or p.canPlayer1AddResult %}
                                Tournament Points:{{ p.player_1_res.tournament_p }}
                                <form action="{% url "tc2_submitResultByAdmin" pk=object.id %}" method="post">
                                {% csrf_token %}
                                    <input maxlength="5" name="playerId" type="hidden" value="{{ p.player_1.id }}" />
                                    <input maxlength="5" name="pairId" type="hidden" value="{{ p.id }}" />
                                    <label for="big_p">Objective Points</label>
                                    <input id="big_p" maxlength="5" name="big_p" type="text" value="{{ p.player_1_res.big_p }}" />
                                    <label for="small_p">Victory Points</label>
                                    <input id="small_p" maxlength="5" name="small_p" type="text" value="{{ p.player_1_res.small_p }}" />
                                    <input type="submit" class="button" value="Save" />
                                </form>
                            {% else %}
                                TP:{{ p.player_1_res.tournament_p }} OP:{{ p.player_1_res.big_p }} VP:{{ p.player_1_res.small_p }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="{{ rowcolors }}">
                        <td colspan="4"> vs. </td>
                    </tr>
                    <tr class="{{ rowcolors }}">
                        <td>{{ p.player_2 }}</td>
                        <td>
                            {% if object.canAddResultVal or p.canPlayer2AddResult %}
                                Tournament Points:{{ p.player_2_res.tournament_p }}
                                <form action="{% url "tc2_submitResultByAdmin" pk=object.id %}" method="post">
                                {% csrf_token %}
                                    <input maxlength="5" name="playerId" type="hidden" value="{{ p.player_2.id }}" />
                                    <input maxlength="5" name="pairId" type="hidden" value="{{ p.id }}" />
                                    <label for="big_p">Objective Points</label>
                                    <input id="big_p" maxlength="5" name="big_p" type="text" value="{{ p.player_2_res.big_p }}" />
                                    <label for="small_p">Victory Points</label>
                                    <input id="small_p" maxlength="5" name="small_p" type="text" value="{{ p.player_2_res.small_p }}" />
                                    <input type="submit" class="button" value="Save" />
                                </form>
                            {% else %}
                                TP:{{ p.player_2_res.tournament_p }} OP:{{ p.player_2_res.big_p }} VP:{{ p.player_2_res.small_p }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr  class="{% cycle 'even' 'odd' %}">
                        <td>{{ p.player_1 }}</td><td>{{ p.player_1_res.tournament_p }} {{ p.player_1_res.big_p }} [{{ p.player_1_res.small_p }}]</td>
                        <td> vs.</td>
                        <td>{{ p.player_2 }}</td><td>{{ p.player_2_res.tournament_p }} {{ p.player_2_res.big_p }} [{{ p.player_2_res.small_p }}]</td>
                    </tr>
                {% endif %}

            {% endfor %}
            </table>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}