
<form action="{% url "LeagueResultAdd" %}" method="POST">
  {% csrf_token %}

    <label for="id_tournament_p">Victory p:</label>
    <input id="id_tournament_p" name="tournament_p" type="number" value="{{ victory_p }}" class="small" />
    <label for="id_big_p">Big p:</label>
    <input id="pair_id" name="pair_id" type="hidden" value="{{ pair.id }}" />
    <input id="player_id" name="player_id" type="hidden" value="{{ player.id }}" />
    <input id="league_id" name="league_id" type="hidden" value="{{ league.id }}" />
    <input id="id_big_p" name="big_p" type="number" value="{{ big_p }}" class="small" />
    <label for="id_small_p">Small p:</label>
    <input id="id_small_p" name="small_p" type="number" value="{{ small_p }}"  class="small" />
    <select name="selectedArmy">
      {% for army in armies %}
        <option value="{{ army.id }}" {% if selectedArmyId == army.id %}selected{% endif %}>{{ army.name }}</option>
      {% endfor %}
    </select>
    <br />
    {% for achievement in achievements %}
        <label for="achievement_{{ forloop.counter }}">{{ achievement.name }}</label>
        <input type="checkbox" name="achievements" value="{{ achievement.id }}"  id="achievement_{{ forloop.counter }}" {% if achievement.selected %}checked{% endif %}/>
        <br />
    {% endfor %}

    <input id="save_contact" type="submit" value="Save"  class="small" />
</form>
