{% extends "index.html" %}
{% block main %}
<h2>League list:</h2>
<table class="paleblue">
    <tr>
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            City
        </th>
        <th>
            Game
        </th>
        <th>
            Actions
        </th>
    </tr>
    {% for l in object_list %}
    <tr tr class="{% cycle 'odd' 'even' %}">
        <td>
            {{ forloop.counter }}
        </td>
        <td>
            <a href="{% url "leagueDetails" pk=l.id %}">{{ l.name }}</a>
        </td>
        <td>
            {{ l.status }}
        </td>
        <td>
            {{ l.city }}
        </td>
        <td>
            {{ l.game }}
        </td>
        <td>

        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}