{% extends "index.html" %}
{% load league %}
{% load player %}

{% block main %}
<div id="tournamentDetail">
<h2>League: {{ object.name }}</h2>
<br>
    {% if user in object.judges.all %}
        <a href="{% url "league-edite" pk=object.id %}" class="button">Edit</a>
        <a href="{% url "deleteLeague" pk=object.id %}" class="button">Delete</a>
        <a href="{% url "LeagueRound-new" %}?lid={{ object.id }}" class="button">Add single round</a>
        <a href="{% url "Achievements-new" %}?lid={{ object.id }}" class="button">Add achievement</a>
        <a href="{% url "buildLeagueRoundsForm" pk=object.id %}" class="button">Create rounds</a>
    {% endif %}
    {% canSingIn object user as priv %}
    {% if priv %}
        <a href="{% url "registerPlayer" object.id %}" class="button">Sign up</a>
    {% endif %}
<br><br>
<p>Game: {{ object.game }}</p>
<p>Status: {{ object.status }} </p>
<p>City: {{ object.city }}</p>
<a href="{{ object.statureUrl|default_if_none:"/" }}">Statue</a>

<h4>Judges:</h4>
<ol class="players_classification">
{% for judge in object.judges.all %}
    <li>{{ judge }}</i>
{% endfor %}
</ol>

<h4>Achievements:</h4>
<ul class="players_classification">
{% for achievement in object.achievements.all %}
    <li>{% if user in object.judges.all %}<a href="{% url "Achievements-update" pk=achievement.id %}?lid={{ object.id }}" >{{ achievement.name }}</a>{% else %}{{ achievement.name }}{% endif %} - <b>{{ achievement.points }}</b>
        <p>
            {{ achievement.text }}
        </p>
    </li>
{% endfor %}
</ul>
<h4>Players:</h4>
<table class="paleblue">
    <tr>
        <th>#</th>
        <th>Player name</th>
        <th>ITS PIN</th>
        <th>Points sum</th>
        <th>Points</th>
        <th>Achievements Points</th>
    </tr>
    {% for player in object.players.all %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td>{{ forloop.counter }}</td>
        <td>
            {{ player }}
        </td>
        <td>
            {% getPlayerITS player %}
        </td>
        <td>{% getSumResult player object %}
        </td>
        <td>
            {% getPointsResult player object %}
        </td>
        <td>
            {% getPointsAchievements player object %}
        </td>
    </tr>
    {% endfor %}
</table>

<h4>Rounds:</h4>
{% for round in object.rounds.all %}
    {{ forloop.counter }}. {{ round.start_date }} - {{ round.end_date }} -
        {% if user in object.judges.all %}
            <a href="{% url "LeagueRound-edit" pk=round.id %}?lid={{ object.id }}" class="button">Edit round</a>
            <a href="{% url "LeagueRoundPair-new" %}?lid={{ object.id }}&rid={{ round.id }}" class="button">Add Pair</a>
        {% endif %}
    <br><p>
        {{ round.text|default_if_none:""  }}
    </p>
    <br>
    <table class="paleblue">
        {% for pair in round.pairs.all %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td>{{ pair.player_1 }}</td>
                <td>{% getResult pair pair.player_1 user object round %}</td>
                <td>{{ pair.player_2 }}</td>
                <td>{% getResult pair pair.player_2 user object round %}</td>
                {% if priv %}
                <td>
                    <a href="{% url "deletePair" pair.id object.id %}" class="button">Delete</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endfor %}

</div>



{% endblock %}
