{% extends "index.html" %}
{% block main %}

<form action="{% url "LeagueRound-edit" pk=object.id %}?lid={{ form.lid }}" method="POST">
  {% csrf_token %}
    <table class="paleblue">
    {{ form }}
    </table>
  <input id="save_contact" type="submit" value="Save" />
</form>

{% endblock %}