{% extends "index.html" %}
{% block main %}
<tr class="even">
    <td>Add player:</td>
    <td>
    <form action="{% url "tc2_addPlayer" %}?tid={{ tid }}" method="post">
    {% csrf_token %}
    {{ form }}
    </td>
    <td>
    <input type="submit" value="Submit" />
    </td>
    </form>
</tr>
{% endblock %}