{% extends "index.html" %}
{% block main %}
<h4>Army lists:</h4><br>
<form method="POST">
    {% csrf_token %}
    <table class="paleblue">
        <tr>
            <th><label>List 1 URL:</label></th>
            <td><input type="url" name="army_lists" value="{{ army_lists.0.url }}"></td>
            <td>{%if army_lists.0.url %}<a target="_blank" href="{{ army_lists.0.url }}">Show</a>{% endif %}</td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Save"></td>
            <td></td>
        </tr>
    </table>
</form>
{% endblock %}