{% extends "index.html" %}
{% block main %}
Additional points for <i>{{ player }}</i> during <i>{{ tournament }}</i>.
<form action="{% url "tc2_AddAdditionalPointsToPlayer" %}" method="POST">
  {% csrf_token %}
    <table class="paleblue">
        <input type="hidden" name="id_player" required="" id="id_player" maxlength="250" value="{{ player.id }}">
        <input type="hidden" name="id_tournament" required="" id="id_tournament" maxlength="250" value="{{ tournament.id }}">
    {% for apc in additionalPointsCategory %}
        <tr>
            <th>
                <label>{{ apc }}</label>
            </th>
            <td>
                <input type="hidden" name="acp_id" maxlength="250" value="{{ apc.id }}">
                <input type="text" name="acp_val" maxlength="250" value="{{ apc.value }}">
            </td>

        </tr>
    {% endfor %}
    </table>
  <input id="save_contact" type="submit" value="Save" />
</form>

{% endblock %}