{% extends "index.html" %}
{% load tc2_tags %}

{% block main %}
</br>
<a href="{% url "tc2_NewAdditionalPointsCategory" %}" class="button">Add new additional points category</a>
</br>
</br>
</br>
<table class="paleblue">
    <tr>
        <th>
            Name
        </th>
    </tr>
    {% for apc in object_list %}
    <tr tr class="{% cycle 'odd' 'even' %}">
        <td>
            {{ apc.name }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}