<tr class="odd">
    <td>Add round:</td>
    <td>
        <form action="{% url "tc2_addRound" pk=tid %}" method="post">
        {% csrf_token %}
        <select name="methodId">
        <option value="1">Simple pairing</option>
        <option value="2">Avoid re-pairing</option>
        <option value="3">Avoid pairing from the same town</option>
        </select>
    </td>
    <td>
        <input type="submit" class="button" value="Add Round" />
        </form>
    </td>
</tr>