{% extends "index.html" %}
{% block main %}

<form action="{% url "tc2_changeArmy" %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="playerId" value="{{ playerId }}">
    <input type="hidden" name="tourmentId" value="{{ tournamentId }}">
    <table class="paleblue">
        <tr>
            <td>Army:</td>
            <td>
                <select name="selectedArmy">
                    {% for army in armies %}
                    {% if army == current_army %}
                    <option  value="{{ army.id }}" selected>{{ army }}</option>
                    {% else %}
                    <option  value="{{ army.id }}">{{ army }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save">
            </td>
        </tr>
    </table>
</form>

{% endblock %}