<tr class="even">
    <td>Fee:</td>
    <td>
    <form action="{% url "tc2_fee" %}?tid={{ tid }}" method="post">
    {% csrf_token %}
        <select name="ApplicationId">
        {% for player in players %}
            <option value="{{ player.id }}">{{ player.player }}</option>
        {% endfor %}
        </select>
    </td>
    <td>
    <input type="submit" value="Submit" />
    </td>
    </form>
</tr>