{% extends "index.html" %}
{% block main %}

<form action="{% url "tc2_savePairs" pk=tournamentId %}" method="post">
{% csrf_token %}
{% for pair in pairs %}
    <h3>Pair {{ forloop.counter }}</h3>
        <select name="pair.{{ forloop.counter }}.a" style="width: 350px">
            {% for player in players %}
            <option  value="{{ player.player.id }}"{% if pair.player_1 == player.player %} selected="selected"{% endif %}>{{ player }} {{  player.player.city }}</option>
            {% endfor %}
        </select>

        <select name="pair.{{ forloop.counter }}.b" style="width: 350px">
            {% for player in players %}
            <option  value="{{ player.player.id }}"{% if pair.player_2 == player.player %} selected="selected"{% endif %}>{{ player }} {{  player.player.city }}</option>
            {% endfor %}
        </select>
{% endfor %}
    <input type="submit" class="button" value="Zapisz" />
</form>

{% endblock %}