{% extends "index.html" %}
{% load tc2_tags %}

{% block main %}
        <table class="paleblue">
    <tr>
        <th>
            Date
        </th>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            City
        </th>
        <th>
            Owner
        </th>
        <th>
            Game
        </th>
        <th>
            Actions
        </th>
    </tr>
    {% for tournament in object_list %}
    <tr tr class="{% cycle 'odd' 'even' %}">
        <td>
            {{ tournament.date }}
        </td>
        <td>
            <a href="{% url "tc2_tournament_details" pk=tournament.id %}">{{ tournament.name }}</a>
        </td>
        <td>
            {{ tournament.status }}
        </td>
        <td>
            {{ tournament.city }}
        </td>
        <td>
            {{ tournament.owner }}
        </td>
        <td>
            {{ tournament.game }}
        </td>
        <td>
            {% get_subscribe_me_button tournament user %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}