{% extends "index.html" %}
{% block main %}

<form action="{% url "tc2_editTournament" pk=object.id %}" method="POST">
  {% csrf_token %}
    <table class="paleblue">
    {{ form }}
    </table>
  <input id="save_contact" type="submit" value="Save" />
</form>

{% endblock %}