{% extends "index.html" %}

{% block main %}
<table class="paleblue">
    <tr>
        <th>Date</th><th>First player</th><th>Second player</th><th>Game</th><th>Army of first player</th><th>Army of second player</th>
    <th>First player result</th>
    <th>Second player result</th>
    <th>Actions</th>
    </tr>
    {% for g in games %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ g.date }}</td>
            <td>{{ g.player_1 }}</td>
            <td>{{ g.player_2 }}</td>
            <td>{{ g.game }}</td>
            <td>{{ g.player_1_army|default_if_none:"--" }}</td>
            <td>{{ g.player_2_army|default_if_none:"--" }}</td>
            <td>{{ g.Result1|default_if_none:"--" }}</td>
            <td>{{ g.Result2|default_if_none:"--" }}</td>
            <td>
                {% if user.is_authenticated %}
                    {% if g.player_1.user == user %}
                        {% if g.Result1 == None %}
                            <a href="/tc_league/addResult/{{ g.id }}" class="button">Submit Result</a>
                        {% else %}
                            <a href="/tc_league/editResult/{{ g.id }}" class="button">Edit Result</a>
                        {% endif %}
                    {% endif %}
                    {% if g.player_2.user == user %}
                        {% if g.Result2 == None %}
                            <a href="/tc_league/addResult/{{ g.id }}" class="button">Submit Result</a>
                        {% else %}
                            <a href="/tc_league/editResult/{{ g.id }}" class="button">Edit Result</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}