{% extends "index.html" %}
{% load tc2_tags %}
{% block main %}

{% if info|length > 0 %}
<div class="info">
    <ol>
        {% for i in info %}
        <li>{{ i|safe  }}</li>
        {% endfor %}
    </ol>
</div>
{% endif %}

<table class="paleblue">
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>City</th>
        <th>Status</th>
        <th>Owner</th>
        <th>Game</th>
        <th>Actions</th>
    </tr>
    {% for tournament in tournaments %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ tournament.date }}</td>
        <td>
            <a href="{% url "tc2_tournament_details" pk=tournament.id %}">{{ tournament.name }}</a>
        </td>
        <td>{{ tournament.city }}</td>
        <td>{{ tournament.status }}</td>
        <td>{{ tournament.owner }}</td>
        <td>{{ tournament.game }}</td>
        <td>{% get_subscribe_me_button tournament user %}</td>
    </tr>
    {% endfor %}
</table>
<div id="blog">
    {% for n in news %}
    <div class="blog_content">
        <h2>
            <a href="/news/{{ n.id }}/" class="news-link">{{ n.title }}</a>
        </h2>
        <div class="blog_content_info">
            <p>{{ n.date|date:"Y.m.d - H:i" }}</p>
            <span class="vertical-divider"></span>
            <p>
                {% for i in n.category.all %}
                <a href="/news/{{ i.slug }}/" class="blog_content_info_category">{{ i.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        <p class="news-text">{{ n.text|safe }}</p>
    </div>
    {% endfor  %}

    {% if has_next %}
    <div style="text-align:center;"  class="prev_next_page">
        <a href="?page={{ next }}" class="prev_next_page">Next</a>
    </div>
    {% endif %}
    {% if has_previous %}
    <div style="text-align:center;"  class="prev_next_page">
        <a href="?page={{ previous }}" class="prev_next_page">Previous</a>
    </div>
    {% endif %}
</div>

{% endblock %}