{% load static %}
{{ form.media }}
<head>
<title>Tournament Calculator</title>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="{% static "main.css" %}" />
<link rel="stylesheet" href="{% static "table.css" %}" />

<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
<!--<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>-->
<!--<link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}"/>-->

<script type="text/javascript" src="/my_admin/jsi18n/"></script>
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/urlify.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/prepopulate.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/vendor/xregexp/xregexp.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/inlines.js" %}"></script>

<script type="text/javascript">
function showMenu() {
    var element = document.getElementById("menu");
    if(element.style.display == "" || element.style.display == "none")
    {
        element.style.display = "inline"
    }
    else if( element.style.display == "inline")
    {
        element.style.display = "none"
    }
}
function hideShowMenu(){
    var width = window.innerWidth;
    if(width <= 480)
    {
        document.getElementById("menu").style.display = "none"
    }
    else if (width > 480)
    {
        document.getElementById("menu").style.display = "inline"
    }
}

function getCookie(cname)
{
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
    }
    return "";
}

function hideCookie()
    {
        document.cookie="cookie_allow=true; expires=365; path=/";
        document.getElementById("cookieack").style.display = "none";
    };
$(document).ready(
function()
    {
        var cookie_allow = getCookie("cookie_allow");
        if (cookie_allow=="true")
        {
            document.getElementById("cookieack").style.display = "none";
        }
    }
);

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1116762-9', 'auto');
  ga('send', 'pageview');

</script>
</head>