{% load player %}
{% load static %}
<html>
{% include "head.html" %}
<body onresize="hideShowMenu()">
<div id="cookieack">
    <div class="wrap">
        <p>
            This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies.
            <a class="button" href="#" onclick="hideCookie()">OK</a>
        </p>
    </div>
</div>
<div id="main_top_bar">

    <img src="{% static "/img/logo.png" %}">

    <div class="user">{% loggedUser user %} </div>
</div>
{% include "menu.html" %}

<div id="main">

{% block main %}{% endblock %}
</div>
</body>
</html>