{% extends "index.html" %}
{% block main %}

<div id="blog">
    <h1 class="view-title">Category: main</h1>
    {% for n in news %}
    <div class="blog_content">
        <h2>
            <a href="/news/{{ n.id }}/" class="news-link">{{ n.title }}</a>
        </h2>
        <div class="blog_content_info">
            <p>{{ n.date|date:"Y.m.d - H:i" }}</p>
            <span class="vertical-divider"></span>
            <p>
                {% for i in n.category.all %}
                <a href="/news/{{ i.slug }}/" class="blog_content_info_category">{{ i.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor  %}

    {% if has_next %}
    <div style="text-align:center;"  class="prev_next_page">
        <a href="?page={{ next }}" class="prev_next_page">Next</a>
    </div>
    {% endif %}
    {% if has_previous %}
    <div style="text-align:center;"  class="prev_next_page">
        <a href="?page={{ previous }}" class="prev_next_page">Previous</a>
    </div>
    {% endif %}
</div>

{% endblock %}