<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
        <title>Skorupa.net - {{ category.name }}</title>
        <description>This is an example of an RSS feed</description>
        <link>http://skorupa.net/</link>
        {% for n in news %}
        <item>
                <title>{{ n.title }}</title>
                <description>{{ n.text|safe|slice:":900"|linebreaks }}.</description>
                <link>http://www.skorupa.net/news/{{ n.id }}</link>
                <guid>{{ n.slug }}-{{ n.id }}</guid>
                <pubDate>{{ n.date }}</pubDate>
        </item>
        {% endfor %}
</channel>
</rss>