{% extends "index.html" %}

{% block main %}
<div id="blog">
    <div class="blog_content">
        <h2>{{ news.title }}</h2>
        <div class="blog_content_info">
            <p>{{ news.date|date:"Y.m.d - H:i" }}</p>
            <span class="vertical-divider"></span>
            <p>
                {% for i in news.category.all %}
                <a href="/news/{{ i.slug }}/" class="blog_content_info_category">{{ i.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        <p class="news-text">{{ news.text|safe }}</p>
        {% if files %}
        <h3 style="border-top: 1px solid #6D6C6C">Downloads:</h3>
        <ul>
            {% for f in files %}
            <li>
                <a href="/media/{{ f.file }}">{{ f.fileDesc }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}